* {
  margin: 0;
  padding: 0;
}

.section-title {
  text-align: center;
}

.image-profile {
  width: 43px;
  height: 43px;
}

.image-info {
  width: 30px;
  height: 28px;
}

.divider {
  width: 267px;
}

.info-block {
  min-height: 252px;
}

.info-time {
  font-size: 0.75rem;
}

.info-card {
  min-height: 122px;
  color: #2E3A59;
  background: #E5E5E5;
}

.graphy-goal {
  height: 180px;
  width: 16px;
  background: #F0F0F0;
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
}

.graphy {
  background: rgba(255, 107, 0, 0.65);
  border-radius: 8px;
}

.graphy-sun {
  height: 0;
}

.graphy-mon {
  height: 92px;
}

.graphy-tue {
  height: 120px;
}

.graphy-wed {
  height: 100px;
}

.graphy-thu {
  height: 80px;
}

.graphy-fri {
  height: 75px;
}

.graphy-sat {
  height: 60px;
}

.section {
  margin-top: 16px;
}
